extends layout

block content

  h1= title
  p Welcome to #{title}
  p This site was made using HTML, CSS, Javascript, Node.js, Express, and Bootstrap

  div(class="jumbotron jumbotron-fluid")
    div(class="container")
      h1(class="display-4") Fluid jumbotron
      div(class="row")
        div(class="col-sm")
          i(class="material-icons w-50") code
        div(class="col-sm")
          i(class="material-icons w-50") code
          ul(class="list-group")
            li(class="list-group-item active") Cras justo odio)
      p(class="lead") This is a modified jumbotron that occupies the entire horizontal space of its parent.
